{% extends 'listing/base.html' %}
{% block title %}Category Details{% endblock %}
{% block body %}

    <img src="{{ category.category_logo }}" style="width: auto; height: 150px;" alt="">
    <h1>{{ category.name }}</h1>
    <h3>{{ category.description }}</h3>


        {% for listing in category.listing.all %}
            <input type="radio" id="listing{{ forloop.counter }}" name="listing" value="{{listing.id}}"/>
            <label for="listing{{ forloop.counter }}">
                {{ listing.listing_title }}
            </label>
                {% if listing.is_favorite %}
                    <img src="http://i.imgur.com/b9b13Rd.png" alt=""/>
                {% endif %}
            <br>
        {% endfor %}


    <a href="{% url 'listing:index'  %}">Back</a>

{% endblock %}
